$bg-footer-color: hsl(240, 10%, 16%);
$text-footer-color: hsl(240, 2%, 79);

$body-copy: hsl(207, 13%, 34%);

$primary-tone-very-light: hsl(13, 100%, 72%);
$primary-tone-light: hsl(353, 100%, 62%);


$secondary-tone: hsl(237, 17%, 21%);
$secondary-tone-desaturated: hsl(237, 23%, 32%);



$font: 'Overpass', 'Ubuntu', sans-serif;
$bg-header-color: linear-gradient(
                    135deg, 
                    hsl(13, 100%, 72%), 
                    hsl(353, 100%, 62%)
                    );
                    
$bg-header-img: url('../images/bg-pattern-intro.svg');
$bg-philosophy: linear-gradient(
                135deg,
                hsl(237, 17%, 21%),
                hsl(237, 23%, 32%)
);

html {
    font-size: 62.5%;
    font-family: $font;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.7rem;
    line-height: 2.9rem;
}

p {
    font-size: 1.6rem;
    line-height: 2.8rem;
    margin-bottom: 40px;
}