.header {
    height: 90vh;
    overflow: hidden;
    background: $bg-header-color;
    border-bottom-left-radius: 120px;
}

.header__container {
    height: 100%;
    background-image: $bg-header-img;
    background-size: 1600px 1600px;
    background-position-x: 36%;
    background-position-y: 30%;
    background-repeat: no-repeat;
}