@import "./globales";

// header styles
.header {
    height: 560px;
    background: $bg-header-img,
                linear-gradient(
                    95deg, 
                    hsl(13, 100%, 72%), 
                    hsl(353, 100%, 62%)
                    );
    background-size: 200% auto, 100%;
    background-position: 25% 51%, 0;
    background-repeat: no-repeat;
    border-bottom-left-radius: 90px;

    &__top-container {
        position: relative;
        display: flex;
        justify-content: flex-start;
        gap: 65px;
        width: 100%;
        max-width: 1250px;
        height: 130px;
        padding: 28px 40px;
        margin: 0 auto;
    }

    &__title-page {
        font-size: 4.6rem;
    }

    &__nav.close,
    &__nav.open  {
        display: flex;
        position: static;
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;
        flex-basis: auto;
        padding: 0px 0px;
        margin: 0 0;
        text-align: center;
        font-weight: 1.6rem;
        background-color: transparent;
        border-radius: 10px;
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
    }


    & .list-container {
        position: relative;
        width: auto;
        margin-right: 8px;

        & .list__title {
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 2.0rem;
            color: white;
            opacity: 0.80;
            cursor: pointer;
    
            & span {
                background-image: url('../images/icon-arrow-light.svg');
            }
        }

        & .list__title:hover {
            text-decoration: underline;
            opacity: 1;
        }

        & .list {
            position: absolute;
            top: 50px;
            left: calc(50% - 95px);
            width: 170px;
            padding: 12px 0px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }

    &__menu {
        display: none;
    }

    & .header__button--login {
        margin-left: auto;
        margin-right: 20px;
        color: rgba(255, 255, 255, 0.9);
    }

    & .header__button--sign-up {
        margin-left: 0;
        margin-right: 0;
        color: $primary-tone-light;
        background: white;
    }
}

// content styles 


section {
    margin-top: 80px;
}

.product {
    &__info {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        min-width: 884px;
        width: 90%;
        max-width: 1340px;
        height: 520px;

        & .wrapper {
            width: 50%;
            max-width: 560px;
            text-align: left;
        }
    }

    section &__img {
        position: absolute;
        right: -20%;
        width: 58%;
        min-width: 600px;
        height: 885px;
        background: url('../images/illustration-editor-desktop.svg');
        background-position: left center;
    }

}