html {
  font-size: 62.5%;
  font-family: "Overpass", "Ubuntu", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.7rem;
  line-height: 2.9rem;
}

p {
  font-size: 1.6rem;
  line-height: 2.8rem;
  margin-bottom: 40px;
}

.header {
  height: 90vh;
  overflow: hidden;
  background: linear-gradient(135deg, #ff8f70, #ff3d54);
  border-bottom-left-radius: 120px;
}

.header__container {
  height: 100%;
  background-image: url("../images/bg-pattern-intro.svg");
  background-size: 1600px 1600px;
  background-position-x: 36%;
  background-position-y: 30%;
  background-repeat: no-repeat;
}

.header__top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 28px 18px;
}

.header__nav {
  display: none;
}

.header__hamburguer-menu {
  width: 50px;
  height: 50px;
  background-image: url("../images/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.header__bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80%;
  padding-left: 14px;
  padding-right: 14px;
  text-align: center;
}

.header__title-page {
  margin-bottom: 20px;
  font-size: 3.8rem;
  line-height: 4.8rem;
  font-weight: 600;
  color: white;
}

.header__description {
  margin-bottom: 40px;
  font-size: 2.0rem;
  line-height: 2.4rem;
  color: whitesmoke;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  width: 100%;
}

.header button {
  width: 155px;
  font-size: 1.8rem;
  padding: 20px 18px;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.header__button--start-free {
  background: white;
  color: #ff525d;
  border: 2px solid white;
}

.header__button--start-free:hover {
  background-color: #ff7a85;
  border: 2px solid #ff7a85;
  color: white;
}

.header__button--learn-more {
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

.header__button--learn-more:hover {
  background-color: white;
  border: 2px solid white;
  color: #ff7a85;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 16px;
  margin-top: 20px;
  text-align: center;
}

section .product__img,
section .philosophy__img,
section .features__img {
  width: 90%;
  height: 330px;
  background-size: cover;
  background-position: center center;
}

section .product__title,
section .philosophy__title {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 3.6rem;
  line-height: 4.0rem;
  font-weight: 600;
}

section .product__subtitle,
section .philosophy__subtitle,
section .features__subtitle {
  margin: 36px 0px 18px;
  font-size: 2.8rem;
  line-height: 3.2rem;
  font-weight: 600;
}

.product__title {
  color: #1f3f5b;
}

.product__img {
  background-image: url("../images/illustration-editor-mobile.svg");
}

.product__info {
  padding: 0 12px;
  color: #1f3f5b;
}

.philosophy {
  margin-top: 100px;
  background: url("../images/bg-pattern-circles.svg"), linear-gradient(135deg, #2c2d3f, #3f4164);
  background-size: 630px, contain;
  background-position: center -270px, center center;
  background-repeat: no-repeat, repeat;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  color: white;
}

.philosophy__img {
  position: relative;
  top: -110px;
  background-image: url("../images/illustration-phones.svg");
}

.philosophy__info {
  position: relative;
  top: -100px;
  padding: 0 16px;
}

.features__img {
  margin-top: 48px;
  background-image: url("../images/illustration-laptop-mobile.svg");
}

.footer {
  padding: 48px 0px;
  text-align: center;
  background-color: #2c2d3f;
  border-top-right-radius: 120px;
  color: white;
}

.footer .list-container {
  margin-top: 40px;
}

.footer .list__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 2.0rem;
  list-style: none;
}
/*# sourceMappingURL=style.css.map */